
/* ------------------Grid System--------------- */ 
.cbsrs{ width: 960px; position: relative; margin: 0 auto; padding: 0px;}
.cbsrs:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.cbsrs .row{}
.cbsrs .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.cbsrs .row:after{clear: both; }
.cbsrs .row{zoom: 1;}

.cbsrs .wrap-col{margin:10px;}

.cbsrs .col-1-2, .cbsrs .col-1-3, .cbsrs .col-2-3, .cbsrs .col-1-4, .cbsrs .col-2-4, .cbsrs .col-3-4, .cbsrs .col-1-5, .cbsrs .col-2-5, .cbsrs .col-3-5, .cbsrs .col-4-5, .cbsrs .col-1-6, .cbsrs .col-2-6, .cbsrs .col-3-6, .cbsrs .col-4-6, .cbsrs .col-5-6{float:left; display: inline-block;}
.cbsrs .col-full{width:100%;}

.cbsrs .col-1-2{width:50%;}

.cbsrs .col-1-3{width:33.33%;}
.cbsrs .col-2-3{width:66.66%;}

.cbsrs .col-1-4{width:25%;}
.cbsrs .col-2-4{width:50%;}
.cbsrs .col-3-4{width:75%;}

.cbsrs .col-1-5{width:20%;}
.cbsrs .col-2-5{width:40%;}
.cbsrs .col-3-5{width:60%;}
.cbsrs .col-4-5{width:80%;}

.cbsrs .col-1-6{width:16.66%;}
.cbsrs .col-2-6{width:33.33%;}
.cbsrs .col-3-6{width:50%;}
.cbsrs .col-4-6{width:66.66%;}
.cbsrs .col-5-6{width:83.33%;}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.cbsrs{width:768px;}
}

@media only screen and (max-width: 767px) {
	.cbsrs{width:100%;}
}

@media only screen and (min-width: 620px) and (max-width: 767px) {
	.cbsrs{width:100%;}
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
	.cbsrs{width:100%;}
	.cbsrs .col-1-3, .cbsrs .col-2-3{width:100%;}
	.cbsrs .col-1-4{width:50%;}
	.cbsrs .col-1-6, .cbsrs .col-2-6, .cbsrs .col-3-6, .cbsrs .col-4-6, .cbsrs .col-5-6{width:100%;}
}

@media only screen and (max-width: 479px) {
	.cbsrs .cbsrs .col-1-2, .cbsrs .col-1-3, .cbsrs .col-2-3, .cbsrs .col-1-4, .cbsrs .col-2-4, .cbsrs .col-3-4, .cbsrs .col-1-5, .cbsrs .col-2-5, .cbsrs .col-3-5, .cbsrs .col-4-5, .cbsrs .col-1-6, .cbsrs .col-2-6, .cbsrs .col-3-6, .cbsrs .col-4-6, .cbsrs .col-5-6{width:100%;}
}